@import "tailwindcss";

@layer utilities {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: lofi --default, night --prefersdark;
  }

